/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  background-color: #33333378;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}



h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  border: 2px solid #00ffea;
  padding: 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.date {
  font-style:oblique;
  font-weight: bold;
  margin-bottom: 10px;
  color: #71ff64;
}


:root {
  --color-primary: #10141c;
  --color-secondary: #b6dd1ab5;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background-color: var(--color-primary);
  font-family: "Fira Code";
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 15vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffe0e010;
  transition: background-color 0.3s ease;
}

.social-media-icons a:hover {
  background-color: #fffedd4e; 
}

.social-media-icons i {
  color: #31d2ff;
  font-size: 20px;
}

.title {
  color: #31d2ff;
  margin-left:0px 150px;
}
