/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style for the header */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Style for the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.date {
  font-style: italic;
  margin-bottom: 20px;
}

.likes button {
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.likes button:hover {
  text-decoration: underline;
}

.likes span {
  font-size: 0.9rem;
}

.share {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.share p {
  margin-right: 10px;
  font-size: 0.9rem;
}

.share a {
  color: #333;
  margin-right: 10px;
}

.share a:hover {
  color: #00aced;
}
